name: deploy

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
    on-success:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r ./travel_itinerary/requirements.txt

            - name: Build binary distribution and upload to artifactory
              run: zip -r "nawayfarer_deploy-${{github.sha}}.zip" ./idea ./terrformstuff ./travel_itinerary
              
            - name: Upload application artifact
              uses: actions/upload-artifact@v3
              with:
                name: nawayfarer_application_artifact
                path: nawayfarer_deploy-${{github.sha}}.zip

            - name: Congifure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: "us-east-1" 

            - name: Upload application file to AWS
              run: aws s3 cp nawayfarer_deploy-${{github.sha}}.zip s3://elasticbeanstalk-us-east-1-848245486220

            - name: Create new application version
              run: |  
                aws elasticbeanstalk create-application-version \
                --application-name nawayfarer \
                --source-bundle S3Bucket="elasticbeanstalk-us-east-1-848245486220",S3Key="nawayfarer_deploy-${{github.sha}}.zip" \
                --version-label "ver-${{ github.sha }}-${{ github.run_id }}" \
                --description "commit-sha-${{ github.sha }} at ${{ github.event.head_commit.timestamp }}"

            - name: Deploy application
              run: aws elasticbeanstalk update-environment --environment-name nawayfarer-environment-test --version-label "ver-${{ github.sha }}-${{ github.run_id }}"
